/* BASICS */
body 
{
    background-color: #E1c699;
    font-family: 'Roboto', sans-serif;
}

.navbar 
{
    background-color: #ae6e4e;
    overflow: hidden;
    border-radius: 20px;
}

#heading
{
    display: flex;
    justify-content: center;
    align-content: center ;
}
#heading2
{
    display: flex;
    justify-content: center;
    align-content: center ;
}
.navbar a img 
{
      margin: 10px 0px 10px 30px;
      width: 60px;
      float: left;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.slides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.carousel {
  margin-top: 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.images{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#pcmar {
    margin-top: -50px;
}

/* Page Circles*/
.pc {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Style the search box inside the navigation bar */
.form
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
  }

.form input[type=text]
{
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 1000px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.sub-btn:hover {
  cursor: pointer !important;
}