{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zee - Research Paper Recommender</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>


<!-- NAVIGATION BAR -->
<header>
    <div class="container">
        <div class="row">
            <div class="navbar" id="navb">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="ZEE logo">
                </a>
                    <a href="javascript:void(0);" class="icon" onclick="nav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<h2 id="heading">
    Research Paper Recommendation System
</h2>
<form method="post">
    {% csrf_token %}
    <div class="form">
        <input type="text" name="query" placeholder="Enter research paper name">
    </div>
    <div class="form">
        <button class="sub-btn" type="submit">Search</button>
    </div>
</form>
</div>

<!-- BANNER -->
<section>
    <!-- CAROUSEL -->
  <div class="carousel">

    <!-- Image1 575 1265-->
    <div class="slides fade">
      <img class="images" src="{% static 'images/1.png' %}" style="height:auto; width:1000px;">
    </div>

    <!-- Image2 -->
    <div class="slides fade">
      <img class="images" src="{% static 'images/2.png' %}" style="height:auto; width:1000px;">
    </div>

    <!-- Image3 -->
    <div class="slides fade">
      <img class="images" src="{% static 'images/3.png' %}" style="height:auto; width:1000px;">
    </div>
</div>

    <!-- Page circle -->
    <div id=pcmar style="text-align:center">
        <span class="pc"></span> 
        <span class="pc"></span> 
        <span class="pc"></span> 
    </div>

  <script>
    var slideIndex=0;
    showSlides();
    
    function showSlides() 
    {
      var i;
      var slides=document.getElementsByClassName("slides");
      var dots=document.getElementsByClassName("pc");
      for (i=0;i<slides.length;i++) 
      {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) 
      {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 10000); 
    }
  </script>
</section>
</body>
</html>
