{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zee - Research Paper Recommender</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="{% static 'css/resp.css' %}">
</head>
<body>


<!-- NAVIGATION BAR -->
<header>
    <div class="containerr">
        <div class="roww">
            <div class="navbarr" id="navb">
                <a href="{%url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="ZEE logo">
                </a>
                    <a href="javascript:void(0);" class="icon" onclick="nav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<h2 id="heading" class="mt-2">
    <b>Similar Research Papers</b>
</h2>

<div class="container mt-2 text-center">
    <div class="row mt-4">
        <div class="col-3 mr-4 ml-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{papers.Title.0}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Score : {{papers.Score.0}}</li>
                    <li class="list-group-item">Year : {{papers.Year.0}}</li>
                    <li class="list-group-item">Category : {{papers.categories.0}}</li>
                </ul>
                <p class="card-text">Abstract : {{papers.abstracts.0}}</p>
                </div>
                <div class="card-body">
                <a href="#" class="card-link">Link to paper</a>
                </div>
            </div>
        </div>
        <div class="col-3 mr-4 ml-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{papers.Title.1}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Score : {{papers.Score.1}}</li>
                    <li class="list-group-item">Year : {{papers.Year.1}}</li>
                    <li class="list-group-item">Category : {{papers.categories.1}}</li>
                </ul>
                <p class="card-text">Abstract : {{papers.abstracts.1}}</p>
                </div>
                <div class="card-body">
                <a href="#" class="card-link">Link to paper</a>
                </div>
            </div>
        </div>
        <div class="col-3 mr-4 ml-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{papers.Title.2}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Score : {{papers.Score.2}}</li>
                    <li class="list-group-item">Year : {{papers.Year.2}}</li>
                    <li class="list-group-item">Category : {{papers.categories.2}}</li>
                </ul>
                <p class="card-text">Abstract : {{papers.abstracts.2}}</p>
                </div>
                <div class="card-body">
                <a href="#" class="card-link">Link to paper</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

