<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zee - Research Paper Recommender</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="logo.png">
    <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>


<!-- NAVIGATION BAR -->
<header>
    <div class="container">
        <div class="row">
            <div class="navbar" id="navb">
                <a href="index.html">
                    <img src="logo.PNG" alt="ZEE logo">
                </a>
                    <a href="javascript:void(0);" class="icon" onclick="nav()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<h2 id="heading">
    Research Paper Recommendation System
</h2>
<div class="form">
    <input type="text" placeholder="Enter research paper name">
</div>

<h3 id="heading2">
    Similar research papers -
</h3>